{% extends "base/head.html" %}
{% block content %}


    <!-- Page Heading -->


    <!-- Simple Post -->


    <div class="row">
        <div class="col-md-12">
            <br>
            <br>
            <img src="static/images/logo.png" alt="">


        </div>
    </div>


    <section class="simple-post">

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h4 style="text-align: center;"><em style="color: rebeccapurple">Collaborative Research and
                        Development Project between UIT University and Dow University of Health Sciences<br></em></h4>
                    <br>
                    <br>
                    <img src="static/images/team.jpg" alt="" style="border: 3px solid #626ad1;">
                </div>
            </div>
        </div>

        <br>
        <h4 style="text-align: center;"><em style="color: rebeccapurple">MAKHIMETER: The Joint Software Development Team
            <br></em></h4>

        <p>The Department of Computer Science at UIT University, comprising both faculty members and students, has
            developed a cutting-edge software solution called <strong>MAKHIMETER</strong>. This software has been
            successfully deployed
            at the Fly Lab of Dow University of Health Sciences, representing a significant milestone in the
            collaboration between these two esteemed institutions.</p>
    </section>




{% endblock %}