{% extends "base/head.html" %}
{% block content %}


<!-- Page Heading -->
<div class="page-heading">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1>Eye Dimensions</h1>
                <p>Here you can find the <strong> count of Ommatidium </strong> in a selected region of the eye.</p>
                <bR>
                <p>The <strong> Drosophila melanogaster </strong> compound eye is a simple nervous system consisting of approximately 800 unit eyes or ommatidia that are assembled into a hexagonal array of striking precision</p>
            </div>
        </div>
    </div>
</div>

<!-- Simple Post -->
<section class="simple-post">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <img src="static/images/omatidum.png" alt="">

            </div>
        </div>


    </div>
</section>

<div class="filled-radius-button">
    <a href="/e_dimen2">Proceed</a>
</div>


{% endblock %}