{% extends "base/head.html" %}
{% block content %}

    <section class="right-image">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="left-content">
                        <h2>Eye Colour</h2>
                        <p>
                            <img src="{{ img }}">
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br></p>

                    </div>
                </div>
                <div class="col-md-6">
                    <style>
                        canvas {
                            max-width: 100%;
                            height: auto;
                        }
                    </style>

                    <div class="chart-container">
                        <canvas id="myChart"></canvas>
                    </div>
                    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                    <script>
                        var data = {{ data|safe }};
                        var ctx = document.getElementById('myChart').getContext('2d');
                        var myChart = new Chart(ctx, {
                            type: 'pie',
                            data: {
                                labels: data.labels,
                                datasets: [{
                                    data: data.values,
                                    backgroundColor: data.colors,
                                    hoverBackgroundColor: data.colors
                                }]
                            },
                            options: {
                                title: {
                                    display: true,
                                    text: 'Eye Colour'
                                },
                                tooltips: {
                                    callbacks: {
                                        label: function (tooltipItem, data) {
                                            var dataset = data.datasets[tooltipItem.datasetIndex];
                                            var total = dataset.data.reduce(function (previousValue, currentValue, currentIndex, array) {
                                                return previousValue + currentValue;
                                            });
                                            var currentValue = dataset.data[tooltipItem.index];
                                            var percentage = parseFloat((currentValue / total * 100).toFixed(2));
                                            return percentage + '%';
                                        }
                                    }
                                },
                                responsive: true,
                                maintainAspectRatio: false
                            }
                        });
                    </script>
                </div>
            </div>
        </div>
    </section>


{% endblock %}

