{% extends "base/head.html" %}
{% load custom_filters %}
{% block content %}

    <section class="right-image">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="container">
                        <div class="horizontal">
                            <div class="verticals ten offset-by-one">

                                <ol class="breadcrumb breadcrumb-fill2">
                                    <li><a href="/"><i class="fa fa-home"></i></a></li>
                                    <li><a href="/eye_col">Eye Colour</a></li>
                                    <li><a> / </a></li>
                                    <li><a href="/col2">Input</a></li>
                                    <li><a> / </a></li>
                                    <li class="active">Results</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="left-content">
                        <br>
                        <br>
                        <h2>Eye Colour</h2>
                        <br><br>
                        <p>
                            <img src="{{ img }}">
                        </p>
                        <br>
                        <br>
                        <h2> Dominant Colour: <em style="color: rebeccapurple"> {{ main }} </em></h2>


                    </div>

                </div>


                <div class="col-md-6">

                    <br>
                    <br>
                    <br>
                    <br>
                    <div class="chart-container">

                        <canvas id="myChart"></canvas>
                    </div>

                    <!-- Tables -->

                    <div class="alternate-table">
                        <table>
                            <thead>
                            <tr>
                                <th>Colour Name</th>
                                <th>Pixel Value</th>
                                <th>Hex Value</th>
                                <th>Percentage</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if d %}
                                {% for row in d %}
                                    <tr>
                                        <td>{{ row.labels }}</td>
                                        <td>{{ row.values }}</td>
                                        <td>{{ row.colors }}</td>
                                        <td>{{ row.percentages }}</td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                            </tbody>
                        </table>
                    </div>

                    <br>
                    <br>


                    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                    <script>
                        var data = {{ data|safe }};
                        var ctx = document.getElementById('myChart').getContext('2d');
                        var myChart = new Chart(ctx, {
                            type: 'pie',
                            data: {
                                labels: data.labels,
                                datasets: [{
                                    data: data.values,
                                    backgroundColor: data.colors,
                                    hoverBackgroundColor: data.colors
                                }]
                            },
                            options: {
                                title: {
                                    display: true,
                                    text: 'Eye Colour'
                                },
                                tooltips: {
                                    callbacks: {
                                        label: function (tooltipItem, data) {
                                            var dataset = data.datasets[tooltipItem.datasetIndex];
                                            var total = dataset.data.reduce(function (previousValue, currentValue, currentIndex, array) {
                                                return previousValue + currentValue;
                                            });
                                            var currentValue = dataset.data[tooltipItem.index];
                                            var percentage = parseFloat((currentValue / total * 100).toFixed(2));
                                            return percentage + '%';
                                        }
                                    }
                                },
                                responsive: true,
                                maintainAspectRatio: false
                            }
                        });
                    </script>
                </div>
            </div>
        </div>
    </section>



{% endblock %}

