{% extends "base/head.html" %}
{% block content %}


<!-- Page Heading -->
<div class="page-heading">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1>Eye Ommatidium Count</h1>
                <p>Here you can find the <strong> count of Ommatidium </strong> in a selected region of the eye.</p>
                <bR>
                <p>The <strong> Drosophila melanogaster </strong> compound eye is a simple nervous system consisting of approximately 800 unit eyes or ommatidia that are assembled into a hexagonal array of striking precision</p>
            </div>
        </div>
    </div>
</div>

<!-- Simple Post -->
<section class="simple-post">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <img src="static/images/omatidum.png" alt="">
                <div class="down-content">
                    <p>Mauris aliquam ipsum nibh, id scelerisque leo congue vel. Vivamus ornare, eros et ornare
                        consectetur, ipsum ipsum sollicitudin libero, at condimentum risus nulla non enim. Quisque
                        sodales vestibulum arcu porttitor finibus. Phasellus dictum nisl id augue ornare, vel interdum
                        nibh mollis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
                        Curae; Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
                        himenaeos. </p>
                    <p>Phasellus vestibulum venenatis interdum. Praesent augue massa, tincidunt eget dignissim a,
                        scelerisque vitae ante. Curabitur a arcu tellus. Donec et massa at dolor condimentum ornare nec
                        non lorem. Maecenas non egestas metus, sed ultricies lectus. Aliquam sit amet gravida tellus.
                        Phasellus id erat nec mi ullamcorper viverra. Quisque vitae pharetra sem. Maecenas sit amet
                        velit ultrices, malesuada quam id, porta nisl. Cras scelerisque ex ut bibendum egestas.</p>
                </div>
            </div>
        </div>


    </div>
</section>

<div class="filled-radius-button">
    <a href="/e_omat2">Proceed</a>
</div>


{% endblock %}