{% extends "base/head.html" %}
{% block content %}


<!-- Page Heading -->
<div class="page-heading">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1>Fly Classification</h1>
                <p>Here you can identify the fly thats either it's <strong> normal </strong>or <strong>mutated </strong>fly
                    with the help of a wing.</p>
                <bR>
                <p><strong>Mutations </strong> are neither good nor bad: some may be beneficial for an organism; others
                    may be lethal. By creating new gene versions, mutations are a driving force for changes in
                    evolution, sometimes leading to new species.</p>
            </div>
        </div>
    </div>
    .
</div>

<!-- Simple Post -->
<section class="simple-post">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <img src="static/images/class.png" alt="">
                <div class="down-content">
                    <p>Biologists learn about the proper function of any gene by studying mutations. If a defective gene
                        causes short wings, for instance, scientists know that the healthy version of the gene is
                        responsible for correct wing formation. </p>
                </div>
            </div>
        </div>


    </div>
</section>

<div class="filled-radius-button">
    <a href="/w_shape2">Proceed</a>
</div>


{% endblock %}