{% extends "base/head.html" %}
{% block content %}


<!-- Page Heading -->
<div class="page-heading">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1>Wing Dimensions</h1>
                <p>Here you can calculate <strong> the area of seven segments </strong> and also the <strong> overall
                    area and perimeter </strong> of the wing.</p>
                <bR>
                <p>The <strong>Drosophila </strong> wing has an excellent track record for genetic screening studies and
                    is
                    ideal for phenomic studies to uncover conserved biological processes relevant to human
                    development and diseases. </p>
            </div>
        </div>
    </div>
</div>

<!-- Simple Post -->
<section class="simple-post">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <img src="static/images/wing1.png" alt="">
                <div class="down-content">
                    <p>The Drosophila wing has successfully identified genes crucial
                        for organ development and relevant to human health. Further, the developing wing imaginal
                        disc has often been used for studying growth, development, and tissue regeneration The
                        Drosophila wing blade includes five longitudinal veins, two cross veins, intervein trichomes,
                        and hairs along the surface and edge of the wing. These visual features provide a flat readout
                        of
                        conserved signaling pathway activity. </p>

                </div>
            </div>
        </div>


    </div>
</section>

<div class="filled-radius-button">
    <a href="/w_dimen2">Proceed</a>
</div>


{% endblock %}