{% extends "base/head.html" %}
{% block content %}

    <!-- Banner -->


    <div class="row">
        <div class="col-md-12">
            <img src="static/images/logo.png" alt="" style="margin-top: 2%">
            <br>
            <br>

        </div>

    </div>



    <section class="main-banner">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="banner-content">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="banner-caption">
                                    <h4>MORPHOMETRIC Analysis of <em>Drosophila</em></h4>
                                    {#                                    <span>Welcome <span#}
                                    {#                                            style="text-transform:uppercase"><strong> {{ request.user.username }} </strong></span></span>#}
                                    <p>
                                        <br>
                                        <br>
                                        Welcome to our web application, {{ request.user.username | upper }}! Your go-to
                                        resource for analyzing and understanding the intricacies of
                                        Drosophila, the fruit fly.</p>
                                    <p>Our web application provides a comprehensive suite of tools for studying
                                        Drosophila.

                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Services -->
    <section class="services">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <div class="service-item first-item">

                        <h4>Wing Dimensions</h4>

                        <br>
                        <h4><a href="w_dimen2" target="_blank"> Visit ↗ </a></h4>


                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service-item second-item">

                        <h4>Wing Shape</h4>

                        <br>
                        <h4><a href="w_shape2" target="_blank"> Visit ↗ </a></h4>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service-item third-item">

                        <h4>Wing Bristles</h4>

                        <br>
                        <h4><a href="w_bristles2" target="_blank"> Visit ↗ </a></h4>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service-item fourth-item">

                        <h4>Eye Dimensions</h4>

                        <br>
                        <h4><a href="e_dimen2" target="_blank"> Visit ↗ </a></h4>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service-item fivth-item">

                        <h4>Eye Colour</h4>

                        <br>
                        <h4><a href="col2" target="_blank"> Visit ↗ </a></h4>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service-item sixth-item">

                        <h4>Eye Ommatidium</h4>

                        <br>
                        <h4><a href="e_omat2" target="_blank"> Visit ↗ </a></h4>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Top Image -->
    <section class="top-image">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <img src="../static/images/top.jpg" alt="">
                    <div class="down-content">
                        <h4>Why flies?</h4>
                        <p>Fruit flies have been widely used in scientific research for over a century. They are easy to
                            breed and maintain in the laboratory, have a short lifespan, and produce a large number of
                            offspring. Additionally, fruit flies share many genetic similarities with humans, making
                            them an ideal model organism for genetic research. In fact, 75% of the genes that cause
                            disease in humans can be found in fruit flies. With our web application, you can explore the
                            genetic makeup of fruit flies and study their traits, mutations, and more. Start your
                            research today!</p>
                        <div class="primary-button">
                            <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3082451/">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Left Image -->
    <section class="left-image">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <img src="../static/images/left.png
" alt="">
                </div>
                <div class="col-md-6">
                    <div class="right-content">
                        <h4>Life span</h4>
                        <p>Fruit flies have a relatively short lifespan of about 8-14 days, which can vary depending on
                            the environmental temperature. Despite their small size of 3mm, they are easily visible
                            without a microscope. Their simple and rapid reproductive cycle allows for several
                            generations to be observed within a matter of months, making them an ideal subject for
                            research.</p>
                        <div class="primary-button">
                            <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3082451/">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Right Image -->
    <section class="right-image">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="left-content">
                        <h4>Reproduction</h4>
                        <p>Reproduction in Drosophila is remarkably efficient. In just a matter of weeks, a single pair
                            of flies can produce hundreds of offspring. These offspring mature sexually within a mere
                            week, showcasing the species' impressive rate of growth and development (Lutz 1948). As with
                            other insect species, Drosophila melanogaster lays eggs which subsequently hatch into larvae
                            (maggots) that consume the fruit upon which they were laid (Patterson and Stone 1952).


                        </p>
                        <div class="primary-button">
                            <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3082451/">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="../static/images/right.png" alt="">
                </div>
            </div>
        </div>
    </section>


{% endblock %}