{% extends "base/head.html" %}
{% block content %}


    <!-- Page Heading -->
    <div class="page-heading">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="container">
                        <div class="horizontal">
                            <div class="verticals ten offset-by-one">

                                <ol class="breadcrumb breadcrumb-fill2">
                                    <li><a href="/"><i class="fa fa-home"></i></a></li>
                                    <li class="active">Wing Bristles</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <h1>Wing Bristles</h1>
                    <br>
                    <p>Here you can find the <strong> count of bristles </strong> in a selected region of the wing.</p>
                    <bR>
                    <p><strong>Bristles veins</strong> of Drosophila are ideal for studying the generation of spatial
                        patterns.
                        Because most mutations affect the bristle count, the drosophila wing bristle is regarded as the
                        most crucial component of the investigation.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- Simple Post -->
    <section class="simple-post">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <img src="static/images/bristles.png" alt="">
                    <div class="down-content">
                        <p>Counting the wing bristles of Drosophila melanogaster can provide important information about
                            the genetics of these insects and how it may be related to human genetics. The number and
                            arrangement of wing bristles in Drosophila melanogaster is genetically determined and can be
                            used as a marker to identify specific genetic mutations or defects. By counting the wing
                            bristles, researchers can identify any changes in the normal pattern of bristle arrangement
                            that may be caused by genetic mutations or other factors, such as exposure to certain
                            medications or environmental conditions. This information can be valuable in understanding
                            the genetics of Drosophila melanogaster and how it may be related to the genetics of other
                            organisms, including humans.</p>
                    </div>
                </div>
            </div>


        </div>
    </section>

    <div class="filled-radius-button">
        <a href="/w_bristles2">Proceed</a>
    </div>


{% endblock %}