{% extends "base/head.html" %}
{% block content %}

    <style>

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-container .card {
  width: 250px; /* Set the width of the card to 150px */
  margin-right: 20px; /* Add margin-right for spacing between cards */
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.card-container .card:last-child {
  margin-right: 0; /* Remove the margin-right for the last card */
}

.card-container .card img {
  width: 94%;
  height: 320px; /* Adjust the height as needed */
  /* object-fit: cover; */
  border-radius: 5px;
}

.card-container .card-content {
  margin-top: 10px;
}

.card-container .card-content h2 {
  font-size: 18px;
  margin-bottom: 5px;
}

.card-container .card-content p {
  font-size: 14px;
  color: #888;
}

    </style>


    <!-- Page Heading -->
    <div class="row">
        <div class="col-md-12">
            <img src="static/images/logo.png" alt=""
                 style="margin-top: 2%; border: none !important; box-shadow: none !important;">
            <br>
            <br>

        </div>

    </div>

    <br>
    <br>

    <div class="card-container">
        <div class="card">
          <img src="static/images/mwaseem.png" alt="Image 1">
          <div class="card-content">
            <h2>Dr. Muhammad Wasim</h2>
            <p>Assistant Professor & Coordinator
            Department of Computer Science
            Image Processing Research Lab, UIT University
            Head Software Development Team
            </p>
          </div>
        </div>

            <div class="card">
              <img src="static/images/mushtaq.png" alt="Image 1">
              <div class="card-content">
                <h2>Dr. Mushtaq Hussain</h2>
                <p>Professor and Principal
                    Dow College of Biotechnology, Serobiology
                    DUHS, Ojha Campus           
                </p>
              </div>
            </div>

            <div class="card">
                <img src="static/images/shaiz.png" alt="Image 1">
                <div class="card-content">
                  <h2>Shaiz Akber</h2>
                  <p>BS Computer Science
                    Department of Computer Science
                    Image Processing Research Lab, UIT University
                    Developer
                    </p>
                </div>
              </div>

              <div class="card">
                <img src="static/images/huzaifa.png" alt="Image 1">
                <div class="card-content">
                  <h2>Muhammad Huzaifa</h2>
                  <p>BS Computer Science
                    Department of Computer Science
                    Image Processing Research Lab, UIT University
                    Developer          
                      </p>
                </div>
              </div>

              <div class="card">
                <img src="static/images/imran.png" alt="Image 1">
                <div class="card-content">
                  <h2>Imran Riaz Chohan</h2>
                  <p>BS Computer Science
                    Department of Computer Science
                    Image Processing Research Lab, UIT University
                    Developer           
                    </p>
                </div>
              </div>

              <div class="card">
                <img src="static/images/wahab.png" alt="Image 1">
                <div class="card-content">
                  <h2>Abdul Wahab Butt</h2>
                  <p>BS Computer Science
                    Department of Computer Science
                    Image Processing Research Lab, UIT University
                    Developer           
                      </p>
                </div>
              </div>

              <div class="card">
                <img src="static/images/mehad.png" alt="Image 1">
                <div class="card-content">
                  <h2>Mehad Bin Naveed</h2>
                  <p>BS Computer Science
                    Department of Computer Science
                    Image Processing Research Lab, UIT University
                    Developer            
                      </p>
                </div>
              </div>
        </div>
      




{% endblock %}