{% extends "base/head.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="container">
                <div class="horizontal">
                    <div class="verticals ten offset-by-one">

                        <ol class="breadcrumb breadcrumb-fill2">
                            <li><a href="/"><i class="fa fa-home"></i></a></li>
                            <li><a href="/w_dimen">Wing Dimensions</a></li>
                            <li><a> / </a></li>
                            <li><a href="/w_dimen2">Input</a></li>
                            <li><a> / </a></li>
                            <li><a href="/bar">Editor</a></li>
                            <li><a> / </a></li>
                            <li><a href="/bar">Results</a></li>
                            <li><a> / </a></li>
                            <li class="active">Detailed steps</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="right-image">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="left-content">
                        <h4>Original Image</h4>
                        <p>All acquired images were scaled at a standard size using image transformation (scaling
                            function) to get the better results and system uniformity.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src={{ img1 }} alt="">
                </div>
            </div>
        </div>
    </section>

    <section class="right-image">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="left-content">
                        <h4>Blur & Greyscale Image</h4>
                        <p>The colored image than converted into gray-scale image. Contrast enhancement processes
                            were
                            applied to balance the intensity level of gray-scale image. </p>

                    </div>
                </div>
                <div class="col-md-6">
                    <img src={{ img3 }} alt="">
                </div>
            </div>
        </div>
    </section>
    <section class="right-image">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="left-content">
                        <h4>Binary Image</h4>
                        <p>The system image was converted into binary format such that all the veins are connected
                            properly for segmentation and the unwanted pixels were removed. </p>

                    </div>
                </div>
                <div class="col-md-6">
                    <img src={{ img2 }} alt="">
                </div>
            </div>
        </div>
    </section>
    <section class="right-image">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="left-content">
                        <h4>Skeletonize Image</h4>
                        <p>
                            In order to connect the disconnected veins, the vein lines were become very thick. So we
                            used,
                            skeleton operation to capture the skull only.
                        </p>

                    </div>
                </div>
                <div class="col-md-6">
                    <img src={{ img4 }} alt="">
                </div>
            </div>
        </div>
    </section>
    <section class="right-image">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="left-content">
                        <h4>Dilated & Skeletonize Image</h4>
                        <p>That Skeltonized image is now dilated so that the regions are prominent. </p>

                    </div>
                </div>
                <div class="col-md-6">
                    <img src={{ img5 }} alt="">
                </div>
            </div>
        </div>
    </section>
    <section class="right-image">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="left-content">
                        <h4>Coloured regions with labels Image</h4>
                        <p>
                            Colours were given to each segment of the wing along with labels and then their total
                            pixels
                            were extracted, which were later converted to area and perimeter with the help of some
                            math.
                        </p>

                    </div>
                </div>
                <div class="col-md-6">
                    <img src={{ img6 }} alt="">
                </div>
            </div>
        </div>
    </section>
    <section class="right-image">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="left-content">
                        <h4>Coloured wing Image</h4>
                        <p>
                            The whole object was coloured to find the area and perimeter.
                        </p>

                    </div>
                </div>
                <div class="col-md-6">
                    <img src={{ img7 }} alt="">
                </div>
            </div>
        </div>
    </section>

    <form>
        <input type="button" class="btn btn-primary" value="Go back!" onclick="history.back()">
    </form>
{% endblock %}