{% extends "base/head.html" %}
{% block content %}

    <section class="right-image">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="left-content">
                        <h4>Original Image</h4>
                        <p>Reproduction in Drosophila is rapid. A single pair of flies can produce hundreds of offspring
                            within a couple of weeks, and the offspring become sexually mature within one week (Lutz
                            1948).

                            As in all insect species Drosophila melanogaster lays eggs. The eggs are placed on fruit,
                            and
                            hatch into fly larvae (maggots), which instantly start consuming the fruit on which they
                            were
                            laid (Patterson and Stone 1952).</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src={{ img1 }} alt="">
                </div>
            </div>
        </div>
    </section>

    <section class="right-image">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="left-content">
                        <h4>Blur & Greyscale Image</h4>
                        <p>Reproduction in Drosophila is rapid. A single pair of flies can produce hundreds of offspring
                            within a couple of weeks, and the offspring become sexually mature within one week (Lutz
                            1948).

                            As in all insect species Drosophila melanogaster lays eggs. The eggs are placed on fruit,
                            and
                            hatch into fly larvae (maggots), which instantly start consuming the fruit on which they
                            were
                            laid (Patterson and Stone 1952).</p>

                    </div>
                </div>
                <div class="col-md-6">
                    <img src={{ img3 }} alt="">
                </div>
            </div>
        </div>
    </section>
    <section class="right-image">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="left-content">
                        <h4>Binary Image</h4>
                        <p>Reproduction in Drosophila is rapid. A single pair of flies can produce hundreds of offspring
                            within a couple of weeks, and the offspring become sexually mature within one week (Lutz
                            1948).

                            As in all insect species Drosophila melanogaster lays eggs. The eggs are placed on fruit,
                            and
                            hatch into fly larvae (maggots), which instantly start consuming the fruit on which they
                            were
                            laid (Patterson and Stone 1952).</p>

                    </div>
                </div>
                <div class="col-md-6">
                    <img src={{ img2 }} alt="">
                </div>
            </div>
        </div>
    </section>
    <section class="right-image">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="left-content">
                        <h4>Skeletonize Image</h4>
                        <p>Reproduction in Drosophila is rapid. A single pair of flies can produce hundreds of offspring
                            within a couple of weeks, and the offspring become sexually mature within one week (Lutz
                            1948).

                            As in all insect species Drosophila melanogaster lays eggs. The eggs are placed on fruit,
                            and
                            hatch into fly larvae (maggots), which instantly start consuming the fruit on which they
                            were
                            laid (Patterson and Stone 1952).</p>

                    </div>
                </div>
                <div class="col-md-6">
                    <img src={{ img4 }} alt="">
                </div>
            </div>
        </div>
    </section>
    <section class="right-image">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="left-content">
                        <h4>Dilated & Skeletonize Image</h4>
                        <p>Reproduction in Drosophila is rapid. A single pair of flies can produce hundreds of offspring
                            within a couple of weeks, and the offspring become sexually mature within one week (Lutz
                            1948).

                            As in all insect species Drosophila melanogaster lays eggs. The eggs are placed on fruit,
                            and
                            hatch into fly larvae (maggots), which instantly start consuming the fruit on which they
                            were
                            laid (Patterson and Stone 1952).</p>

                    </div>
                </div>
                <div class="col-md-6">
                    <img src={{ img5 }} alt="">
                </div>
            </div>
        </div>
    </section>
    <section class="right-image">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="left-content">
                        <h4>Coloured regions with labels Image</h4>
                        <p>Reproduction in Drosophila is rapid. A single pair of flies can produce hundreds of offspring
                            within a couple of weeks, and the offspring become sexually mature within one week (Lutz
                            1948).

                            As in all insect species Drosophila melanogaster lays eggs. The eggs are placed on fruit,
                            and
                            hatch into fly larvae (maggots), which instantly start consuming the fruit on which they
                            were
                            laid (Patterson and Stone 1952).</p>

                    </div>
                </div>
                <div class="col-md-6">
                    <img src={{ img6 }} alt="">
                </div>
            </div>
        </div>
    </section>
    <section class="right-image">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="left-content">
                        <h4>Coloured wing Image</h4>
                        <p>Reproduction in Drosophila is rapid. A single pair of flies can produce hundreds of offspring
                            within a couple of weeks, and the offspring become sexually mature within one week (Lutz
                            1948).

                            As in all insect species Drosophila melanogaster lays eggs. The eggs are placed on fruit,
                            and
                            hatch into fly larvae (maggots), which instantly start consuming the fruit on which they
                            were
                            laid (Patterson and Stone 1952).</p>

                    </div>
                </div>
                <div class="col-md-6">
                    <img src={{ img7 }} alt="">
                </div>
            </div>
        </div>
    </section>

    <form>
        <input type="button" class="btn btn-primary" value="Go back!" onclick="history.back()">
    </form>
{% endblock %}