{% extends "base/head.html" %}
{% block content %}



    <!-- Page Heading -->
    <div class="page-heading">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="container">
                        <div class="horizontal">
                            <div class="verticals ten offset-by-one">

                                <ol class="breadcrumb breadcrumb-fill2">
                                    <li><a href="/"><i class="fa fa-home"></i></a></li>
                                    <li class="active">Wing Dimensions</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>

                    <h1>Wing Analysis and Measurement</h1>


                    <bR>
                    <p>Drosophila wings are known for their unique structure, with a characteristic pattern of veins and
                        other features that make them an important model for genetic and developmental studies. The
                        wings consist of five longitudinal veins, two cross veins, and various other structures such as
                        trichomes and hairs that are distributed across the surface and edge of the wing. </p>

                </div>
            </div>
        </div>
    </div>

    <!-- Simple Post -->
    <section class="simple-post">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <img src="static/images/wing1.jpg" alt="">
                    <div class="down-content">
                        <p>These features provide a visual representation of the activity of conserved signaling
                            pathways that are relevant to human health and disease. By analyzing the structure of
                            Drosophila wings, researchers can gain insights into the genetic and developmental processes
                            that underlie organ development, growth, and tissue regeneration.</p>
                        <br>
                        <br>
                        <strong>
                            <p>The Drosophila Wing Analysis and Segmentation module is a powerful tool within our web
                                application, designed to provide users with a comprehensive analysis of Drosophila
                                wings. This module enables users to upload images of Drosophila wings and obtain
                                detailed information on the dimensions of the wings, including area and perimeter
                                measurements, and individual segment dimensions.</p>
                        </strong>
                    </div>

                </div>

            </div>


        </div>
    </section>


    <div class="filled-radius-button">
        <a href="/w_dimen2">Proceed</a>
    </div>




{% endblock %}